# Ignorar pastas e arquivos específicos

# Ignorar a pasta .vscode
.vscode/

# Ignorar a pasta dist
dist/

# Ignorar arquivos de configuração específicos
.browserslistrc
.editorconfig
.angular.json
karma.conf.js
package-lock.json
package.json
tsconfig.app.json
tsconfig.json
tsconfig.spec.json

