# Angular build e output
.angular/
/dist/
/out-tsc/
/build/

# Diretórios de dependências
/node_modules/

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Configurações de IDEs
.idea/
*.iml

# Logs e relatórios
npm-debug.log*
yarn-debug.log*
yarn-error.log*
