<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a routerLink="/" class="navbar-brand">TO DO LIST</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="todo">Lista de Tarefas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>